.article {
	display: flex;
}
.markdown-body {
	min-width: 200px;
	max-width: 980px;
	width: 100%;
	margin: 100px auto 0;
	padding: 0 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 0 15px 50px;
	}
}
