@import url(../../assets/styles/data.less);

@media screen and (min-width:769px) {
	.header {
		display: flex;
		position: fixed;
		top: 20px;
		left: 10%;
		padding: 0 20px;
		width: 80%;
		height: 60px;
		background-color: @headerDefalut;
		border-radius: 5px;
		transition: all .4s ease;
		overflow: hidden;
		&.header--full {
			top: 0;
			left: 0;
			width: 100%;
			border-radius: 0;
			background-color: @headerFull;
			box-shadow: 0 5px 10px -5px rgba(105, 105, 105, .6);
			.nav-menu {
				&-item {
					&::before,
					&::after {
						display: none;
					}
					p {
						margin: 0;
						width: 100%;
						max-width: 150px;
						&::after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							width: 0;
							height: 4px;
							background-color: rgba(0 , 0, 0, .5);
							opacity: 0;
							transition: all .4s ease;
						}
						&:hover::after {
							opacity: 1;
							width: 100%;
						}
					}
				}
			}
		}
		.nav-link {
			display: flex;
			align-items: center;
		}
		.nav-menu {
			display: flex;
			justify-content: flex-end;
			flex: 1 1 auto;
			line-height: 60px;
			&-item {
				display: flex;
				justify-content: center;
				position: relative;
				width: 10%;
				min-width: 100px;
				max-width: 150px;
				text-align: center;
				cursor: pointer;
				&::before,
				&::after {
					content: '';
					display: block;
					margin: 29px 0;
					width: 0;
					height: 1px;
					opacity: 0;
					background-color: #333;
					transition: all .4s ease;
				}
				&:hover {
					&::before,
					&::after {
						width: 20px;
						opacity: 1;
					}
				}
				p {
					position: relative;
					padding: 0 5px;
					max-width: 60px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
		.nav-ctrl {
			display: none;
		}
	}
}
@media screen and (max-width:768px) {
	.header {
		position: relative;
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0 20px;
		width: 100%;
		height: 60px;
		background-color: @headerDefalut;
		transition: all .4s ease;
		.nav-link {
			display: flex;
			align-items: center;
		}
		.nav-menu {
			position: absolute;
			left: 0;
			top: 60px;
			width: 100%;
			background-color: @headerDefalut;
		}
		.nav-ctrl {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px 10px;
			overflow: hidden;
			cursor: pointer;
			&__line {
				display: block;
				margin: 2px 0;
				width: 20px;
				height: 2px;
				background-color: #495060;
			}
		}
	}
}
