/*
* @Author: cx
* @Date:   2017-06-23 11:49:25
* @Last Modified by:   cx
* @Last Modified time: 2017-06-23 11:49:29
*/

@baseBlue: #20a0ff;
@baseWhite: #f2f3f7;
@baseDark: #324157;

@headerDefalut: rgba(247, 247, 247, .9);
@headerFull: rgba(247, 247, 247, .8);
@headerHover: rgba(247, 247, 247, .1);

@link: #20a0ff;
@linkHover: #0087ec;
@linkDark: #495060;
@linkHoverDark: lighten(@linkDark, 20%);
